@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import "normalize";
@import "variables/global";

body {
    font: var(--font-m);
}

.app {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 100px);
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1280px;

    @media screen and (max-width: 645px) {
        width: calc(100vw - 60px);
    }

    @media screen and (max-width: 450px) {
        width: calc(100vw - 30px);
    }
}
