.PizzaCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 292px;
}

.Main {
    cursor: pointer;

    .Title {
        margin: 8px 0;
        font-size: 20px;
        font-weight: 500;
    }

    .Img {
        width: 100%;
        object-fit: contain;
    }

    .Ingredients {
        font-size: 14px;
    }
}

.Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

    .Price {
        font-size: 20px;
        font-weight: 600;
    }

    .Btn {
        border-radius: 999px;
    }
}

.PizzaCardDetails {
    display: flex;
    padding: 30px;
    max-width: 750px;
    position: relative;

    .CloseBtn {
        position: absolute;
        top: 0;
        right: -40px;

        svg {
            stroke: #fff;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    img {
        width: 400px;
    }
}

.PizzaCardParams {
    display: flex;
    flex-direction: column;

    .Title {
        margin-bottom: 10px;
    }

    .Ingredients {
        font-size: 14px;
        line-height: 20px;
    }

    button {
        width: 100%;
        margin-top: auto;
        border-radius: 9999px;
    }
}
