.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    a {
        line-height: 0;

        &:hover {
            opacity: 0.8;
        }
    }
}

.Cart {
    border-radius: 9999px;
}
